input {
    text-align: center;
}
body {
    margin: 150px;
    font-family: 'Calibri';
    text-align: center;
}
header{
    font-size: 50px;
}
html {
    background: linear-gradient(slateblue, lightblue);
    background-size: cover;
}
img {
    width: 150px;
}
